/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Proxcellence custom styles
   ========================================================================== */

@font-face {
    font-family: 'EtelkaTextPro';
    src: url('fonts/EtelkaTextPro.eot');
    src: url('fonts/EtelkaTextPro.eot') format('embedded-opentype'),
         url('fonts/EtelkaTextPro.woff2') format('woff2'),
         url('fonts/EtelkaTextPro.woff') format('woff'),
         url('fonts/EtelkaTextPro.ttf') format('truetype'),
         url('fonts/EtelkaTextPro.svg#EtelkaTextPro') format('svg');
    font-weight: lighter;
    font-style: normal;
}


@font-face {
    font-family: 'EtelkaTextProBold';
    src: url('fonts/EtelkaTextProBold.eot');
    src: url('fonts/EtelkaTextProBold.eot') format('embedded-opentype'),
         url('fonts/EtelkaTextProBold.woff2') format('woff2'),
         url('fonts/EtelkaTextProBold.woff') format('woff'),
         url('fonts/EtelkaTextProBold.ttf') format('truetype'),
         url('fonts/EtelkaTextProBold.svg#EtelkaTextProBold') format('svg');
         font-weight: bold;
         font-style: normal;
}


#container {
    position: relative;
    width: 100%;
    float: left;
    height: auto;
    min-height: 100vh;
}

#container img {
    width: 80%;
    height: auto;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    color: #D21242;
    font-family: "EtelkaTextProBold", serif;
    font-size: 40px;
    line-height: 48px;
    margin-top: 14vh;
}

h2 {
    width: 100%;
    text-align: center;
    font-family: "EtelkaTextProBold", serif;
    font-size: 20px;
    line-height: 28px;
    padding-top: 2vh;
    color: #666666;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2.onderwerp {
    margin-top: 10vh;
}

p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #666666;
    font-family: "EtelkaTextPro", serif;
    font-size: 16px;
    line-height: 24px; 
    font-weight: 100;
}


p strong {
    font-family: "EtelkaTextProBold", serif;
}

p.foot {
    position: relative;
   width: 80%;
   margin-left: 10%;
   text-align: center;
   padding-bottom: 5vh;
   padding-top: 5vh;}

div#caroussel {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vh;
    padding-bottom: 1vh;
}

div.unit {
   width: 100%;
   margin-right: 1.5%;
   margin-left: 1.5%;
   height: auto;
   float: left;
   cursor: pointer;
}

ul {
    list-style: none;
}

li {

}

ul:hover li {
    opacity: 0.9;
}

ul:hover li:hover {
   opacity: 1 ;
}

/*
div.unit:hover {
 border:2px solid pink;
}*/

ul {
}

.terug a {
    position: absolute;
    left: 3vw;
    top: 3vw;
    font-family: sans-serif;
    cursor: pointer;
    color: #666;
    text-decoration: none;
    z-index: 99;
}

.sluit {
    position: absolute;
    right: 3vw;
    top:3vw;
    cursor: pointer;
    font-family: sans-serif;
    cursor: pointer;
    color: #666;
    text-decoration: none;
    z-index: 99;
}

ul#onderwerpen {
    margin-bottom: 8vh;
    height: auto;
    margin-top: 8vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

ul li.onderwerp {
  float: left;
  text-align: center;
  width: 29%;
  min-width: 200px;
  padding-bottom: 14px;
  padding-top: 14px;
  border:2px solid #ccc;
  border-radius: 4px;
  margin-right: 1.5%;
  margin-left: 1.5%;
  margin-bottom: 20px;
  font-family: "EtelkaTextPro", serif;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}

a .onderwerp {
    color: #666;
}

a{
    color:inherit;
    text-decoration:none;
}

a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}

ul li.onderwerp:hover {
  border:2px solid #eee;
  cursor: pointer;
}

/*
ul li.onderwerp:active { 
  border:2px solid #D21242;
  cursor: pointer;
} */

div.vragen {
    padding-bottom: 5vh;
    margin-bottom: 2vh;
}

p.tip {
  background-color: #f6f6f6;
  padding-top:20px;
  padding-bottom: 20px;
  width: 70%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  opacity: 0.8;
}
#container img.icon {
  width: 200px;
}
div.unit img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

div.unit p {
    font-size: 12px;
}

span.tip {
  color:#F6921E;
  margin-right: 5px;
  font-size: 16px;
}

div.vraag {
    width: 70%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

div.vraag h3 {
    width: 100%;
    font-family: "EtelkaTextPro", serif;
    font-size: 30px;
    padding-top: 7vh;
}

div.vraag a {
    display: inline;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #00afdb;
    text-decoration: none;
    font-family: sans-serif;
}

div.vraag a:hover {
  text-decoration: underline;
}

div.vraag ul {
  width: 100%;
  text-align: center;
  margin-top: 10vh;
  padding-left: 5%;
}
div.vraag li {
  display: inline;
  width: 10%;
  float: left;
  font-family: "EtelkaTextPro", serif;
    font-size: 30px;
}

div.vraag li:hover{
  font-family: "EtelkaTextProBold", serif;
  cursor: pointer;
}

.antwoorden {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

div.vraag .antwoorden a {
    color: #000;
    padding: 45px;
    font-size: 20px;
     padding-bottom: 10px;
  padding-top: 10px;
  border:2px solid #ccc;
  border-radius: 4px;
  margin-left: 1vw;
  margin-right: 1vw;
  text-decoration: none;
  font-size: 14px;
}

div.vraag .antwoorden a:hover {
  border:2px solid #eee;
  cursor: pointer;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 840px) {
    /* Style adjustments for viewports that meet the condition */

    ul li.onderwerp {
 
  width: 100%;
  margin-left: -6%;
  margin-right: 0;
  padding-left: 0;
}
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
